<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>AppEmpleos | Registrarse</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"></link>

  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal" ></header>

    <main role="main">     
      <hr>
      <div class="container"> 
        <div class="card">
        <div sec:authorize="isAnonymous()"  > 
         <h4 class="card-header text-center "><strong>Registrarse</strong></h4>    
		</div>
        <div sec:authorize="hasAuthority('ADMINISTRADOR')"  > 
         <h4 class="card-header text-center "><strong>Crear usuario</strong></h4>    
		</div>
			 <div th:if="${msg != null}" class='alert alert-danger text-center ' th:text="${msg}" role='alert'></div>
              <div class="card-body" >        
                <form  class="form-signin" th:action="@{/register}" method="post" th:object="${usuario}">       
                  <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
				    Por favor corrija los siguientes errores:
				     <ul>
				      <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
				      </ul>
			      </div>	       
  			       <div class="row">          
                   <div class="col-md-4"> 
                    </div> 		
                    <div class="col-md-4"> 
  						<div class="form-group">
							<input type="text" class="form-control form-control-lg"
								th:field="*{nombre}" placeholder="Nombre" required="required" th:autofocus="autofocus"/>
						</div>
						<div class="form-group">
							<input type="text" class="form-control form-control-lg"
								th:field="*{username}" placeholder="Usuario" required="required"/>
						</div>
						<div class="form-group">
							<input type="password" class="form-control form-control-lg"
								th:field="*{password}"  placeholder="Password" required="required"/>
						</div>
						<div class="form-group">
							<input type="email" class="form-control form-control-lg"
								th:field="*{email}" placeholder="Email" required="required"/>
						</div>
						<div sec:authorize="hasAuthority('ADMINISTRADOR')"  > 
						  <div class="form-group">
                   			 <label for="perfil" >Perfil/es</label>
                  		     <div th:each="perfilTmp: ${listaPerfiles}">
                    	     <input type="checkbox" th:value="${perfilTmp.id}"
                    	     						th:id="${perfilTmp.perfil}"
                    	                            th:text="| &nbsp;${perfilTmp.perfil}"
                    	                            th:field="*{perfiles}">
                    	                       
                  			</div>  
                  		   </div> 
                         </div>
   				        <hr>
   				        <div sec:authorize="isAnonymous()" >
   				         <div class="form-group">
   				          <label for="terminosYCondiciones">Terminos y condiciones</label>
   				          <input type="checkbox" th:field=*{terminosYCondiciones} th:id ="terminosYCondiciones" required="required" >   				         
   				         </div>
   				        </div>
   				        <div sec:authorize="isAnonymous()"  > 
   				         <div class="row justify-content-center">
  			              <button type="submit" title="Registrarme" class="btn btn-primary" name="registrar" value="registrar" >
  			              <i class="fa fa-paper-plane" aria-hidden="true"></i> Registrarme</button>  
                        </div>
                        </div>
                        <div sec:authorize="hasAuthority('ADMINISTRADOR')"  > 
    	                <div class="row justify-content-center">
  			              <button type="submit" title="Crear usuario" class="btn btn-primary" name="crear" value="crear" id="crear">
  			              <i class="fa fa-paper-plane" aria-hidden="true"></i> Crear usuario</button>  
                        </div>                    
					</div>
				</div>
				</div>
				</form>
				</div>
		     </div>
			</div> <!-- /container -->	
           </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
    <script src="@{/bootstrap/js/bootstrap.min.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#crear').click(function() {
				checked = $("input[type=checkbox]:checked").length;

				if (!checked) {
					alert("Debes elegir al menos un tipo de perfil.");
					return false;
				}

			});
		});
		
	</script>
</body>
</html>